<ul class="ls-none d-flex {{ class }}">
  {%- for link in settings.quick_links.links -%}
    <li>
      <a href="{{ link.url }}"{% if link.active %} aria-current="page"{% endif %} class="{{ link_class }} nav__link">
        {{- link.title -}}
      </a>
    </li>
  {%- endfor -%}
</ul>