{%- liquid
  assign hotspot_image     = 'image' | placeholder_svg_tag: 'placeholder media of-cover'
  assign hotspot_image_alt = section.settings.image_hotspot.alt | default: section.settings.image_hotspot.image | split: '/' | last
  assign hotspot_image     = section.settings.image_hotspot | image_url: width: block.settings.image_hotspot.width | image_tag: widths: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: hotspot_image_alt, class: 'js-image-lazy js-grid-image media of-cover zi-m-1 w-100'
  assign section_id        = section.id | md5 | truncate: 12, ""
-%}
<div class="ctnr" data-ui-component="Text Hotspots Section" role="region" aria-labelledby="sectionHeading-{{ section_id }}">
  {% render 'section-header',
    content_align: section.settings.content_alignment,
    subheading: section.settings.subheading,
    heading: section.settings.heading,
    description: section.settings.description,
    button_main_text: section.settings.text,
    button_main_link: section.settings.link,
    section: section
  %}
  <div class="s-content rw middle-xs r-gap-20 r-gap-sm-24 js-animate">
    {%- if section.settings.display_type == 'list' -%}
    {% render 'text-hotspots-list', hotspot_image: hotspot_image, block: block, ratio: section.settings.image_hotspot.aspect_ratio, section: section, section_id: section_id %}
    {%- else -%}
      {% render 'text-hotspots-slideshow', hotspot_image: hotspot_image, block: block, ratio: section.settings.image_hotspot.aspect_ratio , section: section, section_id: section_id %}
    {%- endif -%}
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.text_hotspots.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "background color-scheme-1",
      "options": [
        {
          "value": "background color-scheme-1",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "background color-scheme-2",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Text hotspots"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "id": "display_type",
      "label": "t:general.settings.display_type.label",
      "info": "t:general.settings.display_type.info",
      "options": [
        {
          "value": "list",
          "label": "t:general.settings.display_type.options.option_list.label"
        },
        {
          "value": "slideshow",
          "label": "t:general.settings.display_type.options.option_slideshow.label"
        }
      ],
      "default": "list"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "t:sections.text_hotspots.settings.show_pagination_number_for_slideshow.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_navigation",
      "label": "t:sections.text_hotspots.settings.show_navigation_number_for_slideshow.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.hotspot_image.content"
    },
    {
      "type": "image_picker",
      "id": "image_hotspot",
      "label": "t:general.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_button.content"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:general.settings.label.label",
      "info": "t:general.settings.button_label.info",
      "default": "Check now"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:general.settings.link.label"
    }
  ],
  "blocks": [
    {
      "type": "text_hotspot",
      "name": "t:sections.text_hotspot.blocks.product_hotspot.name",
      "limit": 5,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.icon_with_text.settings.headers.header_icon.content"
        },
        {
          "type": "select",
          "label": "t:general.settings.icon_source.label",
          "info": "t:general.settings.icon_source.info",
          "id": "icon_source",
          "options": [
            {
              "value": "theme_library",
              "label": "t:general.settings.theme_library.label"
            },
            {
              "value": "custom_img",
              "label": "t:general.settings.custom_image.label"
            },
            {
              "value": "custom_svg",
              "label": "t:general.settings.custom_svg.label"
            }
          ],
          "default": "theme_library"
        },
        {
          "type": "select",
          "id": "options_icon",
          "label": "t:general.settings.theme_library.label",
          "default": "check-mark",
          "options": [
            {
              "group": "t:general.settings.functional.label",
              "value": "3d-model",
              "label": "3d model"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-down",
              "label": "Arrow down"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-left",
              "label": "Arrow left"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-right",
              "label": "Arrow right"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "arrow-up",
              "label": "Arrow up"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "at-sign",
              "label": "At sign"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "audio-wave",
              "label": "Audio wave"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "award-gift",
              "label": "Award gift"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "battery",
              "label": "Battery"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "bluetooth",
              "label": "Bluetooth"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "box",
              "label": "Box"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "building",
              "label": "Building"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "camera",
              "label": "Camera"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "cart",
              "label": "Cart"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "charger",
              "label": "Charger"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "chat",
              "label": "Chat"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "check",
              "label": "Check"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-down",
              "label": "Chevron down"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-left",
              "label": "Chevron left"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-right",
              "label": "Chevron right"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "chevron-up",
              "label": "Chevron up"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "close",
              "label": "Close"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "comment",
              "label": "Comment"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "compare",
              "label": "Compare"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "credit-card",
              "label": "Credit card"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "customer-support",
              "label": "Customer-support"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "document",
              "label": "Document"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "download",
              "label": "Download"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "edit",
              "label": "Edit"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "error",
              "label": "Error"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "facebook",
              "label": "Facebook"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "file",
              "label": "File"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "filter",
              "label": "Filter"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "fullscreen-exit",
              "label": "Fullscreen exit"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "fullscreen",
              "label": "Fullscreen"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "gaming",
              "label": "Gaming"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "gift",
              "label": "Gift"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "global",
              "label": "Global"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "hamburger-menu",
              "label": "Hamburger menu"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "handcart",
              "label": "Handcart"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "happy",
              "label": "Happy"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "headphone",
              "label": "Headphone"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "heart",
              "label": "Heart"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "info",
              "label": "Info"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "instagram",
              "label": "Instagram"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "lifetime",
              "label": "Lifetime"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "light-weight",
              "label": "Light weight"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "light",
              "label": "Light"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "lightning",
              "label": "Lightning"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "like",
              "label": "Like"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "link",
              "label": "Link"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "linkedin",
              "label": "LinkedIn"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "lock-off",
              "label": "Lock off"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "lock-on",
              "label": "Lock on"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "login",
              "label": "Login"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "logout",
              "label": "Logout"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "mail-box",
              "label": "Mail box"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "mail",
              "label": "Mail"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "map",
              "label": "Map"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "minus",
              "label": "Minus"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "mobile-phone",
              "label": "Mobile phone"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "money",
              "label": "Money"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "music",
              "label": "Music"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "pause",
              "label": "Pause"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "percent",
              "label": "Percent"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "phone",
              "label": "Phone"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "pin",
              "label": "Pin"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "pinterest",
              "label": "Pinterest"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "plane",
              "label": "Plane"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "play-circle",
              "label": "Play circle"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "play",
              "label": "Play"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "plus",
              "label": "Plus"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "printer",
              "label": "Printer"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "processor",
              "label": "Processor"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "protect",
              "label": "Protect"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "quick-shop",
              "label": "Quick shop"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "recycle",
              "label": "Recycle"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "remove",
              "label": "Remove"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "return",
              "label": "Return"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "RSS",
              "label": "Rss"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "search",
              "label": "Search"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "secure-profile",
              "label": "Secure profile"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "send",
              "label": "Send"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "settings",
              "label": "Settings"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "share",
              "label": "Share"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "shining",
              "label": "Shining"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "sign-in",
              "label": "Sign in"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "smart-home",
              "label": "Smart home"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "smartwatch",
              "label": "Smartwatch"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "snapchat",
              "label": "Snapchat"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "sort",
              "label": "Sort"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "speaker",
              "label": "Speaker"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "star-half",
              "label": "Star half"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "star-outline",
              "label": "Star outline"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "star",
              "label": "Star"
            },
            {
              "group": "t:general.settings.shop.label",
              "value": "storefront",
              "label": "Storefront"
            },
            {
              "group": "t:general.settings.other.label",
              "value": "target",
              "label": "Target"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "three-dots",
              "label": "Three dots"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "tiktok",
              "label": "Tiktok"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "timer",
              "label": "Timer"
            },
            {
              "group": "t:general.settings.communication.label",
              "value": "tree",
              "label": "Tree"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "truck",
              "label": "Truck"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "tumblr",
              "label": "Tumblr"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "twitter",
              "label": "Twitter"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "user",
              "label": "User"
            },
            {
              "group": "t:general.settings.shipping.label",
              "value": "validation",
              "label": "Validation"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "vimeo",
              "label": "Vimeo"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "wifi",
              "label": "Wifi"
            },
            {
              "group": "t:general.settings.tech.label",
              "value": "wireless-charge",
              "label": "Wireless charge"
            },
            {
              "group": "t:general.settings.social_media.label",
              "value": "youtube",
              "label": "Youtube"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "zoom-in",
              "label": "Zoom in"
            },
            {
              "group": "t:general.settings.functional.label",
              "value": "zoom-out",
              "label": "Zoom out"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "custom_img",
          "label": "t:general.settings.custom_image.label",
          "info": "t:general.settings.custom_image.info"
        },
        {
          "type": "html",
          "id": "html_code",
          "label": "t:general.settings.custom_svg.label",
          "info": "t:general.settings.custom_svg.info"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_text.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Item heading"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:general.settings.description.label"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_position.content"
        },
        {
          "type": "range",
          "id": "top_offset",
          "label": "t:sections.product_hotspots.blocks.hotspot_item.settings.top_offset.label",
          "min": 0,
          "max": 100,
          "default": 90,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "left_offset",
          "label": "t:sections.product_hotspots.blocks.hotspot_item.settings.left_offset.label",
          "min": 0,
          "max": 100,
          "default": 85,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:sections.product_hotspots.blocks.hotspot_item.settings.content_position.label",
          "options": [
            {
              "value": "tt-htspt-left",
              "label": "t:general.settings.option_left.label"
            },
            {
              "value": "tt-htspt-right",
              "label": "t:general.settings.option_right.label"
            }
          ],
          "default": "tt-htspt-right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text_hotspots.name",
      "blocks": [
        {
          "type": "text_hotspot",
          "settings": {
            "top_offset": 15,
            "left_offset": 10,
            "content_position": "tt-htspt-left"
          }
        },
        {
          "type": "text_hotspot",
          "settings": {
            "top_offset": 30,
            "left_offset": 25
          }
        },
        {
          "type": "text_hotspot",
          "settings": {
            "top_offset": 45,
            "left_offset": 40,
            "content_position": "tt-htspt-left"
          }
        },
        {
          "type": "text_hotspot",
          "settings": {
            "top_offset": 60,
            "left_offset": 55
          }
        },
        {
          "type": "text_hotspot",
          "settings": {
            "top_offset": 75,
            "left_offset": 70,
            "content_position": "tt-htspt-left"
          }
        }
      ]
    }
  ]
}
{% endschema %}