.article__pagination {
  margin-top: calc(var(--spacing) * 2);
}
.article-index-1 .article__header {
  margin-top: calc(var(--spacing) * 4);
}
.article__content {
  font-size: 20px;
  line-height: 1.65;
}
.article__comment + .article__comment {
  margin-top: 24px;
}
.article__inner::after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 459px) {
  .article__image {
    border-radius: 20px;
   }
}
