.sht-image-atf:not(.no-animation):before {
  background: #fff;
}
.password-modal .modal__content {
  padding: 0 var(--gutter-container);
}
.password-wrapper {
  padding-block: calc(var(--gutter-base) * 2);
}
.password__socials .btn {
  border-radius: 50%;
}
.password__logo img.logo {
  max-width: var(--logo-width-mobile);
  height: auto;
}
.password-modal .modal {
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
  transition: visibility .15s ease .4s,
    opacity .15s ease .4s;
}
.password-modal.is-open .modal {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  transition: visibility .25s ease,
    opacity .25s ease;
}
.password-modal .dialog{
  opacity: 0;
  transition: visibility .25s var(--timing-function-on) .15s,
    opacity .25s var(--timing-function-on) .15s;
}
.password-modal.is-open .dialog{
  opacity: 1;
  transition: visibility .25s var(--timing-function-on) .25s,
    opacity .25s var(--timing-function-on) .25s;
}
.password-modal .dialog__btn {
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity .15s ease,
    transform .15s ease;
}
.password-modal.is-open .dialog__btn {
  transform: rotate(0);
  opacity: 1;
  transition: opacity .15s ease .35s,
    transform .15s ease .35s;
}
.modal-dialog__content__header button {
  padding: 10px;
}
.password__footer-text a {
  padding: 0;
}
.password-modal__content .dialog__body {
  padding: 2rem 1.6rem;
}
.password-modal .dialog__header h5,
.password-modal .modal-dialog__body {
  opacity: 0;
  transition: opacity .15s ease;
}
.password-modal.is-open .dialog__header h5,
.password-modal.is-open .modal-dialog__body {
  opacity: 1;
  transition: opacity .15s ease .25s;
}
@media (min-width: 459px) {
  .password__logo img.logo {
    max-width: var(--logo-width-desktop);
  }
  .password-modal__content .dialog__body {
    padding: 2.4rem;
  }
  .password__footer {
    padding-top: 36px;
    padding-bottom: 12px;
  }
}
@media (min-width: 769px) {
  .password__footer {
    padding-top: 24px;
  }
}
@media (min-width: 1025px) {
  .password__admin-login,
  .password__footer-left {
    margin-bottom: 0;
  }
  .modal__toggle-open{
    margin-right: 48px;
  }
}